@page "{id}"
@model Session25.Pages.EditModel
@{
}



<div>
    <form id="frmMain" method="post">

        @Html.HiddenFor(x => x.SelectedCustomer.Id)

        <div class="rowDivs">
            <div>


                @Html.LabelFor(x => x.SelectedCustomer.Name)


            </div>

            <div class="columnDivs">

                @Html.EditorFor(x => x.SelectedCustomer.Name)

            </div>

            <div class="columnDivs">

                @Html.ValidationMessageFor(x => x.SelectedCustomer.Name, "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="rowDivs">
            <div>


                @Html.LabelFor(x => x.SelectedCustomer.Surname)


            </div>

            <div class="columnDivs">

                @Html.EditorFor(x => x.SelectedCustomer.Surname)

            </div>

            <div class="columnDivs">

                @Html.ValidationMessageFor(x => x.SelectedCustomer.Surname, "", new { @class = "text-danger" })

            </div>

        </div>


        <div class="rowDivs">
            <div>


                @Html.LabelFor(x => x.SelectedCustomer.AFM)


            </div>

            <div class="columnDivs">

                @Html.EditorFor(x => x.SelectedCustomer.AFM)

            </div>

            <div class="columnDivs">

                @Html.ValidationMessageFor(x => x.SelectedCustomer.AFM, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="rowDivs">
            <div>


                @Html.LabelFor(x => x.SelectedCustomer.Active)


            </div>

            <div class="columnDivs">

                @Html.CheckBoxFor(x => x.SelectedCustomer.Active)

            </div>


        </div>


        <div class="rowDivs">
            <div>


                <button class="btn btn-warning" asp-page-handler="cancel">Cancel</button>


            </div>

            <div class="columnDivs">

                @if (Model.SelectedCustomer.Id != Guid.Empty) {

                    <button class="btn btn-danger" asp-page-handler="delete">Delete</button>
                }
            </div>

            <div class="columnDivs">

                <button class="btn btn-success" type="submit">Save</button>

            </div>

        </div>


    </form>
</div>


