@page "{id}"
@model Session25.Pages.EditModel
@{
}



<div>
    <form id="frmMain" method="post">
        <input id="txtSelectedId" type="hidden" value="@Model.SelectedCustomer.Id">
        
        
        <table>
            <tr>
                <td><label for="txtName">Name</label></td>
                <td><input id="txtName" type="text" name="name" value="@Model.SelectedCustomer.Name"></td>
            </tr>
            <tr>
                <td><label for="txtSurname">Surname</label></td>
                <td><input id="txtSurname" type="text" name="surname" value="@Model.SelectedCustomer.Surname"></td>
            </tr>
            <tr>
                <td><label for="txtAfm">AFM</label></td>
                <td><input id="txtAfm" type="text" name="afm" value="@Model.SelectedCustomer.AFM"></td>
            </tr>

            <tr>
                <td><label for="chkActive">Active</label></td>
                <td><input id="chkActive" type="checkbox" name="active" value="@Model.SelectedCustomer.Active"></td>
            </tr>



            <tr>
                <td colspan="2">
                    <div style="display: flex">
                        <button class="btn btn-warning" asp-page-handler="cancel">Cancel</button>

                        @if (Model.SelectedCustomer.Id != Guid.Empty) {

                                <button class="btn btn-danger" asp-page-handler="delete">Delete</button>
                         }

                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </td>
            </tr>
        </table>



    </form>
</div>


