@page
@model Session25.Pages.ListModel
@{
}



<a href="/Edit/00000000-0000-0000-0000-000000000000">Add New Customer</a>

<ul id="lstList">

    @foreach (var item in Model.Customers) {

        <li>@item.Name</li>

    }

</ul>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>AFM</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Customers) {

            <tr>

                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.AFM</td>
                <td>@item.Active</td>

                <td><a href="Edit/@item.Id">Edit</a></td>
            </tr>
            
         }

    </tbody>
</table>

